[Desktop Entry]
Version=1.0
Name=Language
Name[ar]=اللغة
Name[bg]=Език
Name[bs]=Jezik
Name[cs]=Jazyk
Name[da]=Sprog
Name[de]=Sprache
Name[el]=Γλώσσα
Name[es]=Idioma
Name[fa]=زبان
Name[fi]=Kieli
Name[fr]=Langue
Name[he]=שפה
Name[hr]=Jezik
Name[hu]=Nyelv
Name[it]=Lingua
Name[ja]=言語
Name[ko]=언어
Name[nb]=Språk
Name[nl]=Taal
Name[pl]=Język
Name[pt]=Idioma
Name[pt_BR]=Idioma
Name[ro]=Limbă
Name[ru]=Язык
Name[sk]=Jazyk
Name[sl]=Jezik
Name[sr]=Језик
Name[sr@latin]=Jezik
Name[sv]=Språk
Name[tr]=Dil
Name[uk]=Мова
Name[zh]=语言
Comment=Change the system language
Comment[ar]=تغيير لغة النظام الخاص بك
Comment[bg]=Променете системния си език
Comment[bs]=Promijenite jezik sistema
Comment[cs]=Změňte jazyk systému
Comment[da]=Skift dit systemsprog
Comment[de]=Ändern Sie Ihre Systemsprache
Comment[el]=Αλλάξτε τη γλώσσα του συστήματός σας
Comment[es]=Cambia el idioma de tu sistema
Comment[fa]=زبان سیستم خود را تغییر دهید
Comment[fi]=Vaihda järjestelmän kieli
Comment[fr]=Changer la langue de votre système
Comment[he]=שנה את שפת המערכת שלך
Comment[hr]=Promijenite jezik sustava
Comment[hu]=Változtassa meg a rendszer nyelvét
Comment[it]=Cambia la lingua del tuo sistema
Comment[ja]=システム言語を変更します
Comment[ko]=시스템 언어 변경
Comment[nb]=Endre systemspråket ditt
Comment[nl]=Verander uw systeemtaal
Comment[pl]=Zmień język systemu
Comment[pt]=Altere o idioma do seu sistema
Comment[pt_BR]=Altere o idioma do seu sistema
Comment[ro]=Schimbați limba sistemului
Comment[ru]=Измените язык вашей системы
Comment[sk]=Zmeňte jazyk systému
Comment[sl]=Spremenite jezik sistema
Comment[sr]=Промените језик система
Comment[sr@latin]=Promenite jezik sistema
Comment[sv]=Ändra ditt systemspråk
Comment[tr]=Sistem dilinizi değiştirin
Comment[uk]=Змініть мову системи
Comment[zh]=修改您的系统语言Exec=/usr/bin/xfce-aero-lang-changer
Icon=preferences-desktop-locale
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;HardwareSettings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
OnlyShowIn=XFCE;
StartupNotify=true
X-XFCE-Plugin=true
