[Desktop Entry]
Version=1.0
Name=Language
Comment=Change the system language
Exec=/usr/bin/xfce-aero-lang-changer
Icon=preferences-desktop-locale
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;HardwareSettings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
NotShowIn=KDE;GNOME;
StartupNotify=true
X-XFCE-Plugin=true
