[Desktop Entry]
Version=1.0
Name=Language
Name[ar]=اللغة
Name[bg]=Език
Name[bs]=Jezik
Name[cs]=Jazyk
Name[da]=Sprog
Name[de]=Sprache
Name[el]=Γλώσσα
Name[es]=Idioma
Name[fa]=زبان
Name[fi]=Kieli
Name[fr]=Langue
Name[he]=שפה
Name[hr]=Jezik
Name[hu]=Nyelv
Name[it]=Lingua
Name[ja]=言語
Name[ko]=언어
Name[nb]=Språk
Name[nl]=Taal
Name[pl]=Język
Name[pt]=Idioma
Name[pt_BR]=Idioma
Name[ro]=Limbă
Name[ru]=Язык
Name[sk]=Jazyk
Name[sl]=Jezik
Name[sr]=Језик
Name[sr@latin]=Jezik
Name[sv]=Språk
Name[tr]=Dil
Name[uk]=Мова
Name[zh]=语言
Comment=Change the system language
Exec=/usr/bin/xfce-aero-lang-changer
Icon=preferences-desktop-locale
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;HardwareSettings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
NotShowIn=KDE;GNOME;
StartupNotify=true
X-XFCE-Plugin=true
